@{
    ViewData["Title"] = "Update from API";
}

<h2>Update from API</h2>
<hr />

<form asp-action="UpdateFromApi" method="post">
    <input type="submit" value="Update" class=" btn btn-primary" />
</form>