@model MoneySaving.Models.MainFundModel

@{
    ViewData["Title"] = "Update from API";
}

<h2>Update from API</h2>
<a asp-action="Index">Back to List</a>
<hr />


<form asp-action="UpdateFromApi" method="post">
    <div class="row">
        <div class="col-lg-4">
            <select asp-for="QueryAmc" asp-items="Model.AmcSelectList" class="form-control form-control-sm">
                <option value="">-- Assest Management --</option>
            </select>
        </div>
        <div class="col-lg-2">
            <input type="submit" value="Update" class="btn btn-sm btn-primary" />
        </div>
    </div>
</form>