@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager




@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "MainTransactions", new { area = "" })">
                <button type="submit" class="nav-item btn btn-link">Logout</button>
            </form>
        </li>
    </ul>
    <ul class="navbar-nav flex-grow-1">
        @*<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSaving" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Saving
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownSaving">
                    <a class="dropdown-item" href="~/MainTransactions/Create?CashflowTypeId=1">Income</a>
                    <a class="dropdown-item" href="~/MainTransactions/Create?CashflowTypeId=2">Outcome</a>
                    <a class="dropdown-item" href="~/MainTransactions/Transfer">Transfer</a>
                </div>
            </li>*@
        <li class="nav-item">
            <a class="nav-link" asp-controller="MainTransactions" asp-action="Index">Ledger</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="FundTransactions" asp-action="PortSummary">Fund</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuSetting" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Setting
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuSetting">
                <a class="dropdown-item" asp-area="" asp-controller="CashflowTypes" asp-action="Index">Cashflow Type</a>
                <a class="dropdown-item" asp-area="" asp-controller="MPockets" asp-action="Index">Pocket</a>
                <a class="dropdown-item" asp-area="" asp-controller="MCategories" asp-action="Index">Category</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-area="" asp-controller="MFundFlowTypes" asp-action="Index">Fund Flow Type</a>
                <a class="dropdown-item" asp-area="" asp-controller="MAmcs" asp-action="Index">Assest Management</a>
                <a class="dropdown-item" asp-area="" asp-controller="MFunds" asp-action="Index">Funds</a>
                <a class="dropdown-item" asp-area="" asp-controller="DailyNavs" asp-action="Index">Daily Nav</a>
            </div>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    </ul>
}



